In [1]:
import pandas as pd

In [2]:
data_=pd.read_csv('HR_comma_sep.csv', sep=',')

In [3]:
data_.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
data_.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [5]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [6]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder = LabelEncoder()

data_['sales'] = encoder.fit_transform(data_['sales'])

In [12]:
data_['salary'] = encoder.fit_transform(data_['salary'])

In [13]:
X = data_.loc[:, ['satisfaction_level','last_evaluation','number_project','average_montly_hours','time_spend_company','Work_accident','left','promotion_last_5years','sales']].values
Y = data_.iloc[:, 0].values

In [14]:
X

array([[0.38, 0.53, 2.  , ..., 1.  , 0.  , 7.  ],
       [0.8 , 0.86, 5.  , ..., 1.  , 0.  , 7.  ],
       [0.11, 0.88, 7.  , ..., 1.  , 0.  , 7.  ],
       ...,
       [0.37, 0.53, 2.  , ..., 1.  , 0.  , 8.  ],
       [0.11, 0.96, 6.  , ..., 1.  , 0.  , 8.  ],
       [0.37, 0.52, 2.  , ..., 1.  , 0.  , 8.  ]])

In [15]:
Y

array([0.38, 0.8 , 0.11, ..., 0.37, 0.11, 0.37])

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc = StandardScaler()

X_scaled = sc.fit_transform(X)

In [18]:
X_scaled

array([[-0.93649469, -1.08727529, -1.46286291, ...,  1.788917  ,
        -0.14741182,  0.39372503],
       [ 0.75281433,  0.84070693,  0.97111292, ...,  1.788917  ,
        -0.14741182,  0.39372503],
       [-2.02247906,  0.95755433,  2.59376348, ...,  1.788917  ,
        -0.14741182,  0.39372503],
       ...,
       [-0.97671633, -1.08727529, -1.46286291, ...,  1.788917  ,
        -0.14741182,  0.74231612],
       [-2.02247906,  1.42494396,  1.7824382 , ...,  1.788917  ,
        -0.14741182,  0.74231612],
       [-0.97671633, -1.14569899, -1.46286291, ...,  1.788917  ,
        -0.14741182,  0.74231612]])

In [19]:
from sklearn.decomposition import PCA

In [20]:
pca = PCA(n_components = 4)

p = pca.fit_transform(X_scaled)

In [21]:
p

array([[-1.29767822, -2.45328544, -0.17342402,  0.31776231],
       [ 2.42170941, -0.38810075, -0.06948922,  0.18957325],
       [ 3.55428897, -1.64409145, -0.33149531,  0.35988025],
       ...,
       [-1.43282681, -2.5381148 , -0.27504511,  0.62773023],
       [ 3.40777372, -1.57957805, -0.54100435,  0.59343901],
       [-1.30207307, -2.50267308, -0.2977592 ,  0.62051112]])

In [27]:
principalDF = pd.DataFrame(data=p, columns= ['PC1', 'PC2','PC3', 'PC4'])
finalDf = pd.concat([principalDF, data_[['salary']]], axis = 1)
finalDf.head()

        PC1       PC2       PC3       PC4  salary
0 -1.297678 -2.453285 -0.173424  0.317762       7
1  2.421709 -0.388101 -0.069489  0.189573       7
2  3.554289 -1.644091 -0.331495  0.359880       7
3  1.870942 -0.625829 -0.243885  0.174088       7
4 -1.296087 -2.488788 -0.163479  0.325077       7